
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;} 
body{background:#f2f2f2;color:#333;font-size:12px; font-family:"微软雅黑","Arial Narrow";}  
ul,ol{list-style-type:none;} 
select,input,img,select{vertical-align:middle;}  
a{text-decoration:none;} 
a:link{color:#999;} 
a:visited{color:#444;} 
a:hover,a:active,a:focus{color:#c00;text-decoration:underline;}

.h-ing{color:#18b4ed;}
.h-begin{color:#d77f3f;}
.h-end{color:#999;}

header{display: flex;justify-content:space-between;align-items: center;
       padding:.8rem;background: #18b4ed;color:#fff;font-size: 1rem}
header h6{font-size: 1rem}
header i{font-size: 1rem;}
main{margin-bottom: 4.5rem;}
section{background: #fff;margin-top: .8rem;padding:2.5rem 1rem 1.5rem;position: relative;}
.h-triangle{position: absolute;right: 0;top:0;width:0;height: 0;border-color:transparent #18b4ed; 
            border-width: 0 3rem 3rem 0; border-style: solid;}
.h-triangle>i{position: absolute;right: -2.6rem;top:.4rem;color: #fff;}
.h-fluid{display: flex;justify-content: flex-start;align-items: center}
.h-fluid>div{width: 100%}
.h-img{border-radius: 50%; margin: .3rem; width: 3.5rem;}
.h-flex{display: flex;justify-content: space-between;align-items: center;padding:.3rem .8rem}
.h-flex>span{font-size: 1rem;}
.h-flex time{color:#999;}
.h-span{width: 5rem}
.h-teacher{color:#f4650b;}

.h-con{position: relative;margin-top: .5rem; border-left: 5rem solid transparent;font-size: 1rem}
.h-con span{position:absolute;left:-5rem;top:0}
hr{margin: .6rem 0;}
.h-div{text-align: right}
.h-upload {padding: .5rem 1rem;line-height: 1rem; position: relative;cursor: pointer;
    color: #999; background: #fff;border: 1px solid #ccc; border-radius: .8rem;overflow: hidden;
    display: inline-block; *display: inline; *zoom: 1;}
.h-upload  input {position: absolute;font-size: 100px; right: 0;top: 0;
    opacity: 0;filter: alpha(opacity=0);cursor: pointer}
.h-upload:hover {color: #888;background: #fff;border-color: #ccc;text-decoration: none}

footer{position: fixed;bottom: 0;left: 0;right: 0; background: #fff;
    display: flex; justify-content: space-evenly; align-items: center;
    color:#666;padding: .5rem 0;border-top:1px solid #ccc;}
.footnav{text-align: center;color:#666}
.hover{color:#17a4fa}
.line{width: 1px;height: 2rem; border-left: 1px solid #ccc}